@import url("main.css");
/*That's how you import a css file!*/

/*STYLING FOR THE DASHBOARD PAGE*/
.container{
	display: block;
}
.body-div {
	position: relative;
	background-color: #ACA885;
	width: 100%;
	height: 100%;
	padding: 0 0px 330px 0px;
	margin-bottom: 100px; /*height of the footer*/
	top: 80px;

}

.new{
	position: absolute;
	margin: auto;
	left:0;
	right:0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 250px;
	text-align: center;
}
.new p{
	font-size: 90px;
	font-family: Playfair Display;
}

.last-book-added{
	background-color: #EA9010;
	position: absolute;
	right: 10px;
	top: 120px;
	width: 700px;
	padding: 15px;
	border-radius: 5px;

}
.last-book-added h1{
	margin: 5px;
}
.last-book-added img{
	position: relative;
	float: left;
	width: 190px;

}
.last-book-added .info{
	position: relative;
	float: right;
	width: 70%;
	font-size: 25px;
	font-family: Poiret One;
}
.last-book-added span{
	font-weight: bold;
}

.total {
	width: 50%;
}

.total p{
	font-size: 30px;
	font-weight: bold;
}

.total-month {
	font-size: 30px;
	font-weight: bold;
}

.search {
	position: absolute;
	top: 2%;
	right: 2%;


}
.search input{
	border: none;
	width: 400px;
	padding: 10px 5px 10px 5px;
	border-radius: 5px;
	font-family: Poiret One;
	font-size: 20px;
	margin-bottom: 5px;
}
.search button {
	padding: 8px;
	border: none;
	border-radius: 5px;
	background-color: white;
	font-family: Poiret One;
	font-size: 20px;

}
.years{ /*Years displayed in the page - these are the years the user read any book*/
	position: absolute;
	display: block;


}

#year-unit{
	font-size: 30px;
	margin: 0 0 20px 0;
	text-decoration: none;
	list-style-type: none;
	color: black;

}

footer{
	position: absolute;
	bottom: 0;
}
