body {
	margin: 0;
	background-color: #2E2F2F;
	font-family: Poiret One;
}


.add-book{
	margin: 0; 
	font-size: 40px;
	cursor: pointer;
	margin: 0 auto;
	width: 19%;

}

.modal{
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.7);
}

.modal-content{
	padding: 20px;
	margin: 4% auto;
	width: 40%;
	background-color: white;
	height: 550px;
	border: solid 1px #888;
	border-radius: 5px;
	text-align: center;
	
}
.modal-content .close{
	position: absolute;
	right: 0;
	top: 0;
	font-size: 100px;
	margin: 0;
}

.modal-content input {
	outline: none;
	border: solid 1px black;
	padding: 10px 10px 10px 10px;
	border-radius: 5px;
	margin: 0 0 20px 0;
	font-size: 35px;
	width: 80%;
	font-family: Poiret One;

}

.modal-content select{
	position: relative;
	font-size: 22px;
	margin: 0 0 20px 0;
	font-family: Poiret One;
}

.modal-content button{
	font-size: 30px;
	font-family: Poiret One;
	
}

#message-add {
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 0;
}

nav {
	background-color: #EA9010;
	padding-bottom: 0;
	position: sticky;
	top: 0;
	z-index: 30;

}
.logo{
    float: left;
}
.logo img{
    width: 35px;
    margin: 5px 0 0 5px;
}
.logo p{
    position: absolute;
    top: -35px;
    left: 45px;
    font-size: 35px;
    font-family: Satisfy;
    cursor: default;
}
/*BUTTONS NAV*/

.logout-button {
	position: absolute;
	right: 5px;
	top: 5px;
	background-color: white;
	border: none;
	padding: 10px;
	border-radius: 5px;
	font-family: Poiret One;
	font-size: 15px;
	cursor: pointer;
	
}

.profile {
	position: absolute;
	top: 5px;
	right: 85px;
	text-decoration: none;
	color: black;
	background-color: white;
	padding: 10px;
	border-radius: 5px;
}
/*END*/

.welcome {
	font-size: 40px;
}

.home-icon {
	width: 50px;
	position: absolute;
	left: 10px;
	bottom: 5px;
	z-index: 50;

}

.navbar {
	text-align: center;
	background-color: #EA9010;
	position: absolute;
	top: 100px;/*this is what makes work...*/
	width: 100%;
	padding-top: 0px;
	padding-bottom: 0;
	font-family: Poiret One;
	

}

.navbar a {
	text-decoration: none;
	color: white;
	font-size: 40px;
	padding: 0 20px 1px 20px;
	border-radius: 4px 4px 0 0;


	
}

.text-month{
	margin-top: 0;
	font-size: 40px;
	color: white;
}


/*END NAV*/

.body-div {
	background-color: #ACA885;
	width: 100%;
	padding: 0 0px 330px 0px;
	position: relative;
	top: 80px;

}

.new{
	position: absolute;
	margin: auto;
	left:0;
	right:0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 250px;	
	text-align: center;
}
.new p{
	font-size: 90px;
	font-family: Playfair Display;
}

.last-book-added{
	background-color: #EA9010;
	position: absolute;
	right: 10px;
	top: 100px;
	width: 50%;
	padding: 15px;
	border-radius: 5px;

}
.last-book-added h1{
	margin: 5px;
}
.last-book-added img{
	position: relative;
	float: left;
	width: 190px;

}
.last-book-added .info{
	position: relative;
	float: right;
	width: 70%;
	font-size: 25px;
	font-family: Poiret One;
}
.last-book-added span{
	font-weight: bold;
}

.total {
	width: 50%;
}

.total p{
	font-size: 30px;
	font-weight: bold;
}

.total-month {
	font-size: 30px;
	font-weight: bold;
}

.search {
	position: absolute;
	top: 2%;
	right: 2%;


}
.search input{
	border: none;
	width: 400px;
	padding: 10px 5px 10px 5px;
	border-radius: 5px;
	font-family: Poiret One;
	font-size: 20px;
	margin-bottom: 5px;
}
.search button {
	padding: 8px;
	border: none;
	border-radius: 5px;
	background-color: white;
	font-family: Poiret One;
	font-size: 20px;

}
.years{ /*Years displayed in the page - these are the years the user read any book*/
	position: absolute;
	display: block;


}

#year-unit{
	font-size: 30px;
	margin: 0 0 20px 0;
	text-decoration: none;
	list-style-type: none;
	color: black;

}


/*FOOTER*/

footer{
	margin-top: 100px;
	background-color: black;
	color: white;
}
footer ul li{

	list-style-type: none;
}
footer ul li a {
	text-decoration: none;
	color: white;
    margin-top: 5px;
    font-size: 17px;
}
footer ul li a:hover{
	color: white;
    text-decoration: underline white;
}
footer .trademark{
	margin: 0;
	text-align: center;
	position: relative;
	bottom: 0;
}