#bit-notification-bar-spacer{ /*Have to do this for firefox...*/
	display: none;
	height: 0;
}
body {
	margin: 0;
	padding: 0;
	background-color: #2E2F2F;
	font-family: Poiret One;
	height: 100%;

}
.body{
	position: relative;
	min-height: 100vh;
}

.width{
	width: 0%;
	height: 20px;
	color: red;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 200;
}
.add-book{
	margin: 0;
	font-size: 40px;
	cursor: pointer;
	margin: 0 auto;
	width: 19%;

}

.modal{
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.8);
}

.modal-content{
	padding: 15px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	width: 40%;
	height: 90%;
	background-color: white;
	height: 550px;
	border: solid 1px #888;
	border-radius: 5px;
	text-align: center;

}
.modal-content .close{
	position: absolute;
	top: -80px;
	right: -350px;
	font-size: 150px;
	margin: 0;
	cursor: pointer;
	color: white;
}

.modal-content input {
	border: solid 1px black;
	padding: 10px 10px 10px 10px;
	border-radius: 5px;
	margin: 0 0 20px 0;
	font-size: 35px;
	width: 90%;
	font-family: Poiret One;

}

.modal-content select{
	position: relative;
	font-size: 22px;
	margin: 0 0 20px 0;
	font-family: Poiret One;
}

.modal-content button{
	font-size: 30px;
	font-family: Poiret One;

}
.message{
	color: red;
	font-size: 25px;
}


/*Loading Animation*/
.loading-modal{
	position: absolute;
	display: none;
	align-items: center;
	justify-content: center;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100vh;
	background-color: rgba(1,1,1,0.65);
}
.loader {
	width: 120px;
    height: 120px;
    border: 30px solid #f3f3f3; /* Light grey */
    border-top: 30px solid #EA9010; /* Blue */
    border-radius: 50%;
    animation: spin .7s linear infinite;

}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


nav {
	background-color: #EA9010;
	padding-bottom: 0;
	position: sticky;
	top: 0;
	z-index: 30;

}
.logo{
    float: left;
}
.logo img{
    width: 35px;
    margin: 5px 0 0 5px;
}
.logo p{
    position: absolute;
    top: -35px;
    left: 45px;
    font-size: 35px;
    font-family: Satisfy;
    cursor: pointer;
}

#message-add {
	position: absolute;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 0;
}

.container{
	width: 100%;
	min-height: 100%;
	position: relative;
	padding-bottom: 150px; /*so that footer stays out of books div*/
}

/*BUTTONS NAV*/

.logout-button {
	position: absolute;
	right: 5px;
	top: 5px;
	background-color: white;
	padding: 10px;
	border-radius: 5px;
	border:none;
	font-family: Poiret One;
	font-size: 15px;
	cursor: pointer;

}

.profile {
	position: absolute;
	top: 5px;
	right: 85px;
	text-decoration: none;
	color: black;
	background-color: white;
	padding: 10px;
	border-radius: 5px;
}
/*END*/

.welcome {
	font-size: 40px;
}

.home-icon {
	width: 50px;
	position: absolute;
	left: 10px;
	bottom: 5px;


}

.navbar {
	text-align: center;
	background-color: #EA9010;
	position: relative;
	/*top: 65px;/*this is what makes work...*/
	padding-top: 0px;
	padding-bottom: 0;
	font-family: Poirot One;
	/*box-shadow: 0 2px 5px -2px gray; /*This creates a shadow in the bottom of the element*/

}

.navbar a {
	text-decoration: none;
	color: white;
	font-size: 40px;
	padding: 0 20px 1px 20px;
	border-radius: 4px 4px 0 0;



}

.years{ /*Years displayed in the page - these are the years the user read any book*/
	font-family: Poiret One;
	margin: 0 auto;
	width: 80%;


	/*word-break: break-word; /*If you want to break text, that's how you do it!*/


}


p .years {
	font-family: Poiret One;

}

#year-style {/*This is the style the year number will have when clicked*/
	background-color: black;
}


.search {
	position: sticky;
	top:10%;
	right: 0;

}
.search input{
	position: absolute;
	right: 90px;
	border: none;
	padding: 10px 5px 10px 5px;
	border-radius: 5px;
	font-family: Poiret One;
	font-size: 20px;
	margin-bottom: 5px;
	width: 220px;
}
.search button {
	position: absolute;
	right:10px;
	padding: 8px;
	border: none;
	border-radius: 5px;
	background-color: white;
	font-family: Poiret One;
	font-size: 20px;
}

.text_search_result {
	font-size: 40px;
	color: white;
}

.message_delete {
	font-size: 40px;
	text-align: center;
	color: white;
}

.text-month{
	margin: 0 0 20px 20px;
	font-size: 40px;
	color: white;
}

.choose {
	font-size: 70px;
	text-align: center;
	color: white;
}
/*END NAV*/


/*MONTH SECTION*/
.books_year {
	font-size: 35px;
	text-align: center;
	margin-bottom: 0;
	margin-top: 10px;
	background-color: #EA9010;
	color: white;
	font-family: Poiret One;
	cursor: default;
	z-index: 1;


}

.books_year p {
	font-family: Poiret One;
}

.books_year a {
	text-decoration: none;
	color:white;


}

.months {
	position: sticky;
	top: 22%;
	font-size: 26px;
	background: #ACA885;
	width: 100%;
	border-radius: 10px;
	height: 50px;
	margin-top: 50px;
	transition: height .5s;
	z-index: 1;

}

.months ul {
	/*position: fixed;
	right: 10%;
	top: 32%;/*If you want to go back the way it was, just delete from position to top.*/
	margin: 0 0 -5px 0;
	display: none;
	animation-name: month-in;
	animation-duration: 2s;

}

.months li {
	text-decoration: none;
	list-style-type: none;
	padding-bottom: 5px;
}

.months li a {
	text-decoration: none;
	color: black;

}

@keyframes month-in {
	from{
		opacity: 0;
	}
	to{
		opacity:1;
	}
}
@keyframes month-out {
	from{opacity: 1;}
	to{opacity: 0;}
}

@keyframes div-in {
	from{
		padding-bottom: 10px;
	}
	to{
		padding-bottom: 450px;
	}
}
@keyframes div-out {
	from{display: block;}
	to{display: none;}
}
/*END MONTH SECTION*/

/*STARTS HERE THE STYLING OF THE BOOKS COVER*/
.container{
	display: flex;
}
.left{
	width: 85%;
}
.right{
	width: 30%;
	margin: 20px 20px 0 60px;
}
.box{
	width: 100% !important;
	padding: 0 0 250px 0;
	background-color: #ACA885;
	position: relative;
	left: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
	margin-left: 3px;
	cursor: default;
	animation-name: box-animation-out;
	animation-duration: .5s;
}

.box input {
	border: none;
	padding: 0 2px 0 2px;
	border-radius: 5px;
	font-size: 20px;

}

.box button {
	border: none;
	font-family: Poiret One;
	font-size: 20px;
	cursor: pointer;
}
.book_info{
	position: relative;
	width: 82%;
	float: right;

}
.book_info p{
	margin: 8px;
	font-size: 25px;
	font-family: Poiret One;
}
.book_info .title{
	font-size: 35px;
	margin: 0;
	font-weight: bold;
}

.book_info span{
	font-weight: bold;
}
.rating{
	position: absolute;
	top: 60px;
	right: 10px;
	padding: 25px;
	border-radius: 2px;
	display: none;
}

.rating p{
	font-size: 60px;
	margin: 0;
	color: white;
	font-family: Dosis;

}


/* This will make the button appears when the the mouse is over it!*/
#button_books_box {
  opacity: 0; /* Hide button */
  position: absolute;
  right: 8%;
  bottom: 2%;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
  color: black;
  text-decoration: none;
  transition: opacity .5s;
}
.edit_book_button{
	background-color: transparent;
	border: none;
	position: absolute;
	right: 7%;
	bottom: 0%;
	opacity: 0;
	transition: opacity .5s;
	outline: none;
}
.edit_book_button img{
	width: 50px;
}
.delete_book_button {
	border: none;
	outline: none;
	background-color: transparent; /*Will do the trick for now. I wanted to the gray background of the button to go away.*/
	opacity: 0;
	position: absolute;
 	right: 2%;
	bottom: 3%;
	transition: opacity .5s;

}
.delete_book_button img{
	width: 40px;
}
.box:hover {
	animation-name: box-animation-in;
	animation-duration: .1s;
	padding: 0px 15px 250px 15px;
}

.box:hover .edit_book_button {
   opacity: 1; /* On :hover of div show button */

}
.box:hover .delete_book_button {
	opacity: 1;

}

@keyframes box-animation-in {
	from{padding: 0 0 250px 0;}
	to{padding: 0px 15px 250px 15px;}
}

@keyframes box-animation-out {
	from{padding: 0px 15px 250px 15px;}
	to{padding: 0 0 250px 0;}
}



.cover {
	width: 140px;
	position: absolute;
	left: 1%;
	top: 6%;
	border-radius: 2px;
}

.add_cover_button {
	position: absolute;
	top: 90%;
	left: 1%;
	text-decoration: none;
	color: black;
}

.finished_search_name {
	font-size: 20px;
	position: absolute;
	top: 55%;
	left: 26%;
	font-weight: bold;
}


/*STYLING OF THE EDIT MODAL*/

.edit-modal{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(1,1,1, 0.7);
	z-index: 101;
	align-items: center;
	justify-content: center;
}
.edit-modal-content{
	width: 90%;
	height: 90%;
	background-color: white;
	border-radius: 5px;
	text-align: center;
	background-color: #2E2F2F;
	border: solid 1px black;
}


/*THIS IS THE STYLING OF THE EDITING SECTION*/

.book-cover-edit {
	width: 40%;
	margin: 20px 15px;
	border-radius: 5px;
}
.box_edit{
	display: flex;
	width: 100%;
	height: 100%;
	position: relative;
}
.box_edit form{
	background-color: #ACA885;
	height: 100%;
	width: 60%;

}
.edit_category_name{
	font-weight: bold;
}
.edit_year_number{
	font-weight: bold;
}
.box_edit p{
	margin: 5px 40px 5px 20px;
	font-size: 25px;
	text-align: left;

}
.box_edit input{
	width: 90%;
	font-size: 25px;
	border-radius: 5px;
	font-family: Poiret One;
	border: solid 1px black;
}
.box_edit select{
	font-size: 25px;
	font-family: Poiret One;
	margin: 0;
}

.delete_cover {
	position: absolute;
	font-size: 25px;
	left: 0;
	bottom: 0;
	border-radius: 5px;
	text-decoration: none;
	padding: 3px;
	background-color: white;
	color: black;
	cursor: pointer;
	border: none;
}
.delete_cover:hover {
	background-color: red;
	color: white;
	animation-name: delete-animation;
	animation-duration: 0.2s;

}

@keyframes delete-animation {
	from{
		background-color: white;
		color: black;
	}
	to{
		background-color: red;
		color: white;
	}
}

.comment{
	display: flex;
	flex-direction: column;
	width: 40%;
	align-items: center;
	justify-content: center;
	outline: none;
	border: none;
	font-family: Poiret One;
	font-size: 30px;
	border-radius: 5px;

}

.comment textarea{
	overflow: auto;
	width: 90%;
	height: 80%;
	resize: none;
	border: solid 1px black;

}
.comment p{
	color: white;
}

.book-cover-edit{
	width: auto;
	margin: 100px;
}

/*FOOTER*/

footer{
	width: 100%;
	height: 120px;
	position: absolute;
	bottom: 0;
	background-color: black;
	color: white;
}
footer ul{
	padding: 0;
}
footer ul li{
	list-style-type: none;
}
footer ul li a {
	text-decoration: none;
	color: white;
    margin-top: 5px;
    font-size: 17px;
}
footer ul li a:hover{
	color: white;
    text-decoration: underline white;
}
footer a{
    color: white;
}
footer .trademark{
	margin: 0;
	text-align: center;
	position: relative;
	bottom: 0;
}
